project:
  type: website

website:
  title: "Colonial Women"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: Indentured Servitude

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



